/*個人頁面*/

body {
}
/*課程卡片*/
.course
{
    margin-top:40px;
    padding-bottom:20px;
    border-bottom:solid;
    border-bottom-color:#1abc9c;
    border-bottom-width:2px;
    background-color:#f2f2f2;
    opacity:0.8;
}
.course h4,h1 /*課程名稱*/
{
    color:darkgray;
    text-align:center;
}
.course p /*課程敘述*/
{
    text-align:justify;
    padding:0px 20px;
    color:darkgray;
}

.course:hover
{
    transition:1s;
    opacity:1;
}

.course:hover h4 , .course:hover h1
{
    transition:1s;
    color:black;
}

.course:hover p
{
    transition:1s;
    color:black;
}

.course img
{
   width:100%;
}

.course input
{
    width:170px;
    margin-left:10px;
}

/*icon*/
.icon  a
{
    display:inline-block;
    width:35px;
    margin:0px 10px;
}

.icon img
{
    height:35px;
    width:35px;
}

.icon a:hover img
{
    animation-name: rubberBand;
    animation-duration:1s;
}

.icon
{
    text-align:center;
   margin-top:15px;
}

/*個人資料*/
.profile 
{
    margin:5% auto;
    text-align:center;
}

.profile img 
{
    width:200px;
    margin:auto;
}

.profile p 
{
    font-size:28px;
    margin:0 0;
    font-weight:700;
    text-align:justify;
}

.profile button
{
    width:100px;
    background-color:#1abc9c;
    border:none;
    color:white;
    font-family:"思源宋體 ExtraLight";
    font-size:20px;
    font-weight:200;
}
.profile button:hover
{
    background-color:darkgray;
}

/*詳細資料*/

.detail
{
    margin:50px auto;
    margin-left:30%;
}

#detail-form
{
    display:none;
}

#detail-form input
{
    font-size:20px;
    width:250px;
    height:30px;
    margin-left:10px;
}

/*新增內容*/
#info, #create-course, #create-professor-info, #create-student-info {
    display: none;
}
/*送出icon*/
#send, #submit ,#send-student , #send-professor{
    display: none;
}

/*刪除*/
.course >.cancle img
{
    position: relative;
    left:-110px;
    top:-170px;
    width:10px;
}

.create-account {
    display: none;
    padding:0 162px;
}