<div class="col-lg-3 col-md-3 col-sm-3">
    <div class="course chinese">
        <img src="~/img/assignment/computer.png" class="img-responsive">
        <h4>作業一 PASS</h4>
        <div class="hw" style="display: none;">
            <p class="hw-description">作業內容:</p>
            <p class="hw-deadline">繳交時間:</p>
            <p class="hw-late">允許遲交:</p>
            <p class="hw-format">檔案格式:</p>
        </div>
        <div class="score" style="display: none;">
            @*放分數*@
            <h1>未輸入</h1>
            @*放評語*@
            <h4>評語:未輸入</h4>
        </div>
        <div class="icon">
            <a><img src="~/img/icon/icon_table.png" class="img-responsive"></a>
            <a><img src="~/img/icon/icon_upload.png" class="img-responsive"></a>
            <a class="icon_info"><img src="~/img/course/icon_information.png" class="img-responsive"></a>
        </div>
        <p class="hw-id" style="display: none;"></p>
        <button class="delete-hw">刪除作業</button>
    </div>
</div>
