<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Web">
    <meta name="author" content="Chi Wu William Chiang">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>G5 classroom</title>
    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../Content/IndexStyle.css" rel="stylesheet">
    <link href="../../Content/style.css" rel="stylesheet">
    <link href="../../Content/font-awesome.min.css" rel="stylesheet">
    <link href="../../Content/assignmentStyle.css" rel="stylesheet">
    <link href="../../Content/animate.css" rel="stylesheet">
</head>
<body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://localhost:50714/Home/Site">個人頁面</a></li>
                    <li><a href="#about">公告</a></li>
                    <li><a href="#works">作業</a></li>
                    <li class="logout"><a href="http://localhost:50714/Home/Index">登出</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 chinese">
                    @*登入後改成顯示下面的*@
                    <h1>軟體工程</h1>
                    <h3>歡迎，你的身分是學生</h3>
                    <h3 class="eng">Welcome,you are student</h3>
                </div>
            </div><! --/row -->
        </div> <!-- /container -->
    </div><! --/headerwrap -->

    <section id="about"></section>
    <div id="about">
        <div class="container">
            <div class="row centered mt mb chinese">
                <div class="title">
                    <h1>公告</h1>
                </div>
                <div class="col-lg-12 demo">
                    <img src="~/img/demo/task.png" class="img-responsive">
                </div>
                <button class="students">顯示所有修課學生</button>
            </div><! --/row -->
        </div><! --/container -->
    </div>

    <section id="works"></section>
    <div class="container">
        <div class="row centered mt mb chinese">
            <div class="title">
                <h1>作業</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="course chinese">
                    <img src="../../img/assignment/computer.png" class="img-responsive">
                    <h4>作業一 PASS</h4>
                    <div id="hw">
                        <p>作業內容:</p>
                        <p>繳交時間:</p>
                        <p>允許遲交:</p>
                        <p>檔案格式:</p>
                    </div>
                    <div id="score">
                        @*放分數*@
                        <h1>未輸入</h1>
                        @*放評語*@
                        <h4>評語:未輸入</h4>
                    </div>
                    <div class="icon">
                        <a href="http://localhost:50714/Home/Assignment"><img src="../../img/icon/icon_table.png" class="img-responsive"></a>
                        <a href="http://localhost:50714/Home/Assignment"><img src="../../img/icon/icon_upload.png" class="img-responsive"></a>
                        <a id="icon_info"><img src="../../img/course/icon_information.png" class="img-responsive"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="course chinese">
                    <img src="../../img/assignment/paper.png" class="img-responsive">
                    <h1 id="assign">指派作業</h1>
                    <div id="info">
                        <p>作業名稱:<input name="assignmentName" placeholder=""></p>
                        <p>作業內容:<input name="assignmentContent" placeholder=""></p>
                        <p>繳交時間:<input name="submit" placeholder=""></p>
                        <p>允許遲交:<input name="delay" placeholder=""></p>
                        <p>檔案格式:<input name="file" placeholder=""></p>
                    </div>
                    <div class="icon">
                        <a id="add"><img src="../../img/icon/icon_new.png" class="img-responsive"></a>
                        <a id="send"><img src="../../img/icon/icon_next.png" class="img-responsive"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">

            </div>
        </div><! --/row -->
    </div><! --/container -->

    <div id="social">
        <div class="container">
            <div class="row centered chinese login">
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/social -->

    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-4">
                    <p><b>ASSIGNMENT SUBMIT & CURSE DETAIL</b></p>
                </div>
                <div class="col-lg-4">
                    <p>G5 小教室 © 2017 William Chiang.</p>
                </div>
                <div class="col-lg-4">
                    <p>a912686931work@gmail.com</p>
                </div>
            </div>
        </div>
    </div><! --/footerwrap -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
<<<<<<< HEAD
    <script src="~/Scripts/course.js"></script>
=======

    <script>

        //頁面載入
        $(function () {
            var ID = getUrlParameter('ID');
            SetCourseInfo(ID);
            $(".logout").click(DirectToIndex);
            var btnStudents = $("button.students");
            btnStudents.click(DirectToStudents(ID, btnStudents));
        });

        //設定課程資訊
        function SetCourseInfo(ID)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCourse", "Home")',
                data: { "courseId": ID },
                success: function (response) {
                    $(".course-name").text(response[0]._courseName);
                    $(".teacher").text("指導教授：" + response[0]._instructorID);

                    //如果有TA
                    if (response.length > 0) {
                        $(".ta").text(response[1]);
                    }
                }
            });
        }

        function DirectToStudents(ID, sourse) {
            return function () {
                window.location.href = "/Home/Course/Students/?ID=" + ID;
            }
        }

        //重新導向到首頁
        function DirectToIndex() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RedirectPage", "Home")',
                data: { "data": "Index" },
                success: function (response) {
                    window.location.href = response.url;
                }
            });
        };

        //取得url GET變數
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

    </script>

>>>>>>> a7f03a958be229034d3a249b0f4415b37c25879d
</body>
</html>



