
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="curse">
    <tr class="default">
        <td >
            學生姓名
        </td>
        <td>
            教室名稱
        </td>
        <td>
            學校名稱
        </td>
        <td>
            教師姓名
        </td>
        <td>
            進入
        </td>
    </tr>
    <tr>
        <td>
            江紀武
        </td>
        <td>
            注意注意醫生來了
        </td>
        <td>
            學店
        </td>
        <td>
            凱哥
        </td>
        <td>
            <button>進入</button>
        </td>
    </tr>
</table>