<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        請輸入您的帳號：<input type="text" name="YourPassword">
        <br />
        請輸入您的密碼：<input type="password" name="YourPassword">
        <br />
        <input type="button" value="登入" onclick="location.href = 'http://localhost:50714/Home/Curse'">
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>

    <button id="test">取得會員資料</button>
    <button id="createUser">新增會員</button>

    <text>  </text>
    <script>
        $("#test").click(function () {
            $.ajax({
                type: "POST",
                url: "GetMemberInfo",
                dataType: "json",
                success: function (response) {

                }
            });
        });
        //新增會員測試
        $("#createUser").click(function () {
            $.ajax({
                type: "POST",
                url: "CreateUser",
                dataType: "json",
                success: function (response) {

                }
            });
        });

    </script>
</body>
</html>
