<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Web">
    <meta name="author" content="Chi Wu William Chiang">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>G5 classroom</title>
    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../Content/IndexStyle.css" rel="stylesheet">
    <link href="../../Content/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--  <div class="navbar-brand">
                       <a href="https://bei1015.github.io/WebDesign2/index/index.html"><img src="assets/img/logo.png"></a>
                      </div> -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://localhost:50714/Home/Index">首頁</a></li>
                    <li><a href="#about">簡介</a></li>
                    <li><a href="#works">登入</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    @*登入後改成顯示下面的*@
                    @*<h4>歡迎來到我的個人網頁，我是</h4>*@
                    @*<h1>江紀武</h1>*@ 
                    @*<h4>WEB DESIGNER & GAME DESIGNER</h4>*@
                </div>
            </div><! --/row -->
        </div> <!-- /container -->
    </div><! --/headerwrap -->

    <section id="about"></section>
    <div class="container">
        <div class="row centered mt mb">
            <h1>簡介</h1>
            <h4 class="about">本系統可即時更新各課程作業資訊，並提供學生線上繳交作業，保障自主放假型學生的學習權利，且可於作業批改後查看評語及分數並分析課程成績。</h4>
            <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                <img src="../../img/about/assignment_hover.png" class="img-responsive">
                <img src="../../img/about/assignment2.png" class="img-responsive">   
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 gallery ">
                <img src="../../img/about/track_hover.png" class="img-responsive">
                <img src="../../img/about/track.png" class="img-responsive"> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                <img src="../../img/about/grade_hover.png" class="img-responsive">
                <img src="../../img/about/grade.png" class="img-responsive">
            </div>
        </div><! --/row -->
    </div><! --/container -->

    <section id="works"></section>
    <div class="container">
        <div class="row centered mt mb login">
            <h1>登入</h1>
            <div>
                <ul>
                    <li>
                        <h4>請輸入您的帳號：<input type="text" name="YourAccount"></h4>
                    </li>
                    <li>
                        <h4>請輸入您的密碼：<input type="password" name="YourPassword"></h4>
                    </li>
                    <li>
                        <h4><a>忘記帳號或密碼?</a><button class="loginbutton" onclick="location.href = 'http://localhost:50714/Home/Curse'">登入</button><button>重填</button></h4>
                    </li>
                </ul>         
            </div>
        </div><! --/row -->
    </div><! --/container -->
    <!-- https://likesm0857.github.io/final/ -->
    <div id="social">
        <div class="container">
            <div class="row centered">
                
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/social -->

    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-4">
                    <p><b>ASSIGNMENT SUBMIT & CURSE DETAIL</b></p>
                </div>
                <div class="col-lg-4">
                    <p>G5 小教室 © 2017 William Chiang.</p>
                </div>
                <div class="col-lg-4">
                    <p>a912686931work@gmail.com</p>
                </div>
            </div>
        </div>
    </div><! --/footerwrap -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
</body>
</html>

